@use '/src/style/variable.scss' as v;

.nav {
  max-width: 1309px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 10px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .ttl {
      font-family: v.$second-family;
      font-size: 25px;
      line-height: 100%;
      color: #333;
    }
  }

  .container {
    max-width: 794px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1050px) {
      display: none;
    }

    .links {
      max-width: 514px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .li {
        .link {
          font-weight: 600;
          font-size: 18px;
          color: #333;
          transition: 0.3s;
          &:hover {
            color: v.$blue;
          }

          &.active {
            color: v.$blue;
          }
        }
      }
    }

    .btn {
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      border-radius: 50px;
      padding: 17px 33px;
      background: v.$blue;

      &:hover {
        background-color: adjust-hue(
          $color: rgba(0, 0, 0, 0.696),
          $degrees: 90
        );
      }

      &:active {
        background-color: black;
      }
    }
  }

  .burger {
    display: none;
    width: 50px;

    @media (max-width: 1050px) {
      display: block;
    }
  }
}
